# MSPR Big Data

# Initialisation

## Chargement Libraries

In [1]:
#Gestion Data
import pandas as pd
import numpy as np

# Traitement des données

## Chargement des données

In [2]:
df_general_results = pd.read_csv("Data/general_results.csv", delimiter=";")
df_general_results

C:\Users\quentin.bacot.FRLT304136\AppData\Local\Temp\ipykernel_8444\3934883952.py:1: DtypeWarning: Columns (2,3,4,6,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_general_results = pd.read_csv("Data/general_results.csv", delimiter=";")

,id_election,id_brut_miom,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,...,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,Code de la circonscription,Libellé de la circonscription,Code du canton,Libellé du canton
0,2019_euro_t1,01001_0001,01,Ain,1,L'Abergement-Clémenciat,0001,601,268,44.59,...,18,3.00,5.41,314,52.25,94.29,NaN,NaN,NaN,NaN
1,2019_euro_t1,01002_0001,01,Ain,2,L'Abergement-de-Varey,0001,210,69,32.86,...,2,0.95,1.42,135,64.29,95.74,NaN,NaN,NaN,NaN
2,2019_euro_t1,01004_0001,01,Ain,4,Ambérieu-en-Bugey,0001,1050,548,52.19,...,13,1.24,2.59,474,45.14,94.42,NaN,NaN,NaN,NaN
3,2019_euro_t1,01004_0002,01,Ain,4,Ambérieu-en-Bugey,0002,1106,527,47.65,...,24,2.17,4.15,540,48.82,93.26,NaN,NaN,NaN,NaN
4,2019_euro_t1,01004_0003,01,Ain,4,Ambérieu-en-Bugey,0003,1058,485,45.84,...,8,0.76,1.40,551,52.08,96.16,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843563,2014_muni_t2,ZP057_0002,ZP,NaN,57,Ua-Pou,0002,157,15,9.55,...,1,0.64,0.70,141,89.81,99.30,NaN,NaN,NaN,NaN
2843564,2014_muni_t2,ZP057_0006,ZP,NaN,57,Ua-Pou,0006,70,7,10.00,...,0,0.00,0.00,63,90.00,100.00,NaN,NaN,NaN,NaN
2843565,2014_muni_t2,ZP058_0001,ZP,NaN,58,Uturoa,0001,1179,350,29.69,...,10,0.85,1.21,819,69.47,98.79,NaN,NaN,NaN,NaN
2843566,2014_muni_t2,ZP058_0002,ZP,NaN,58,Uturoa,0002,1029,225,21.87,...,8,0.78,1.00,796,77.36,99.00,NaN,NaN,NaN,NaN
2843567,2014_muni_t2,ZP058_0003,ZP,NaN,58,Uturoa,0003,1120,222,19.82,...,20,1.79,2.23,878,78.39,97.77,NaN,NaN,NaN,NaN

In [ ]:
df_candidats_results = pd.read_csv("Data\candidats_results.csv", delimiter = ";")
df_candidats_results

C:\Users\quentin.bacot.FRLT304136\AppData\Local\Temp\ipykernel_8444\3880825919.py:1: DtypeWarning: Columns (2,3,4,6,7,8,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_candidats_results = pd.read_csv("Data\candidats_results.csv", delimiter = ";")

In [ ]:
df_delinquance = pd.read_csv("Data/delinquance.csv" , delimiter = ";")
df_delinquance

## Analyse des données

In [ ]:
# Type des colonnes 
df_general_results.info()

In [ ]:
df_general_results.describe(include = "all")

In [ ]:
df_general_results.nunique()

In [ ]:
# Liste des éléctions 
df_general_results["id_election"].unique()

In [ ]:
df_candidats_results.info()

In [ ]:
df_candidats_results.describe(include = "all")

In [ ]:
df_candidats_results.nunique()

In [ ]:
# Liste des éléctions 
df_candidats_results["id_election"].unique()

In [ ]:
df_delinquance.info()

In [ ]:
df_delinquance.describe(include =

## Traitement des données

In [ ]:
df_global = df_general_results.merge(df_candidats_results,on='id_election',indicator = True)
df_global